mat-form-field {
  mat-label {
    font-size: 20px;
  }
}

.transmitter-calibration-rate {
  h3 {
    text-align: left;
  }

  .desc {
    font-size: 26px;
    color: #0056b3;
  }
  
  .pass {
    background-color: lightgreen !important;
    padding: 5px 50px;
    margin-left: 10px;
    align-items: center;
    font-size: 26px;
    border-radius: 1.5rem !important;
  }

  .fail {
    background-color: red !important;
    padding: 5px 50px;
    margin-left: 10px;
    align-items: center;
    font-size: 26px;
    border-radius: 1.5rem !important;
  }
}
