<div *ngIf="showControl" [formGroup]="form">
  <div [formGroupName]="section">
    <div *ngIf="editable" class="component-container">
      <div>
        <div>
          <div>
            <div *ngIf="type === rangeType.Range || type === rangeType.GreaterThan">
              <mat-label class="item-label">
                <b>{{ 'range.minValue' | translate}}:</b> {{ minValue }}
              </mat-label>
            </div>
            <div *ngIf="type === rangeType.Range || type === rangeType.LessThan">
              <mat-label class="item-label">
                <b>{{ 'range.maxValue' | translate}}:</b> {{ maxValue }}
              </mat-label>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="range-input">
              <!-- Changing numeric input to string, to show the negative sign (Ticket#: 5216671) -->
              <mat-form-field appearance="outline">
                <mat-label>
                  {{ 'range.inputValue' | translate}}
                </mat-label>
                <input matInput type="number" [formControlName]="response.questionId"
                  [id]="'input-' + response.questionId +'-inputValue'">
              </mat-form-field>

              <div class="result" *ngIf="rangeInOut">
                <mat-label [attr.data-is-valid]="rangeInOut === range.InRange">
                  {{ 'range.' + rangeInOut | translate}}
                </mat-label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <table class="summary-responses" *ngIf="!editable">
      <tr>
        <td class="summary-responses">{{ 'range.type' | translate}}:</td>
        <td class="summary-responses">{{ type }}</td>
      </tr>
      <tr *ngIf="type === rangeType.Range || type === rangeType.GreaterThan">
        <td class="summary-responses">{{ 'range.minValue' | translate}}:</td>
        <td class="summary-responses">{{ minValue }}</td>
      </tr>
      <tr *ngIf="type === rangeType.Range || type === rangeType.LessThan">
        <td class="summary-responses">{{ 'range.maxValue' | translate}}:</td>
        <td class="summary-responses">{{ maxValue }}</td>
      </tr>
      <tr>
        <td class="summary-responses">{{ 'range.inputValue' | translate}}:</td>
        <td class="summary-responses">{{ form.get(sectionArray).value }}</td>
      </tr>
      <tr *ngIf="rangeInOut">
        <td class="summary-responses">
          <b>
            {{ 'range.' + rangeInOut | translate}}
          </b>
        </td>
        <td class="summary-responses"></td>
      </tr>
    </table>
  </div>
</div>