$colors: (
  primary: #06a1d2,
  secondary: #f0f6f7,
  secondary-border: #009fd1,
  danger: (base: #e06666,
    contrast: #fff),
  warning: (base: #ffefa7,
    contrast: #ac8c00),
  light: #f2fbfa,
  dark: #0b2d71,
  ok: #00ff00,
  error: #ff0000,
  border: #cdcdcd,
  border-focus: #787878,
  even-list-item: #f2f2f2,
  odd-question: #f3f4f8,
  border-item: #bebebe,
  section-selected-title: #0066b2,
  section-selected: #ced5e3,
  light-green: #90ee90,
  dark-green: #81bb81,
  light-red: #e06666,
  dark-red: #9f4e4e,
  dark-grey: #4f4f4f,
  light-yellow: #e0d866,
  dark-yellow: #9e9f4e,
  followup: #FFA500
);

$sizes: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 992px,
  xl: 1199px
);



$primary-theme: (
  50: #e1f4fa,
  100: #b4e3f2,
  200: #83d0e9,
  300: #51bde0,
  400: #2bafd9,
  500: #06a1d2,
  600: #0599cd,
  700: #048fc7,
  800: #0385c1,
  900: #0274b6,
  A100: #dff2ff,
  A200: #acddff,
  A400: #79c8ff,
  A700: #5fbdff,
  contrast: (50 : #fdfefe,
    100 : #fbfcfd,
    200 : #f8fbfb,
    300 : #f5f9f9,
    400 : #f2f7f8,
    500 : #f0f6f7,
    600 : #eef5f6,
    700 : #ecf3f5,
    800 : #e9f2f3,
    900 : #e5eff1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$accent-theme: (
  50: #e0edf6,
  100: #b3d1e8,
  200: #80b3d9,
  300: #4d94c9,
  400: #267dbe,
  500: #0066b2,
  600: #005eab,
  700: #0053a2,
  800: #004999,
  900: #00388a,
  A100: #b6cdff,
  A200: #83abff,
  A400: #5088ff,
  A700: #3677ff,
  contrast: (
    50 : #fdfefe,
    100 : #fbfcfd,
    200 : #f8fbfb,
    300 : #f5f9f9,
    400 : #f2f7f8,
    500 : #f0f6f7,
    600 : #eef5f6,
    700 : #ecf3f5,
    800 : #e9f2f3,
    900 : #e5eff1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);