<mat-card class="card-profile vertical-line">
    <mat-card-header>
        <mat-card-title>
            <h2>{{ 'policies.welcome' | translate }}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="disclaimer" innerHTML="{{ 'policies.body' | translate }}">
            
        </div>
    </mat-card-content>
    <mat-card-footer>
        <h3 [routerLink]="['/home']"  class="button btn btn-primary text-white lowercase" >{{ 'commons.continue' | translate }}</h3>
    </mat-card-footer>
    
</mat-card>




