.content-1 {
    display: flex;
    flex-wrap: wrap;

    mat-form-field {
        width: inherit;
        margin-right: 15px;

        &:first-child {
            flex: 1 1 65%;
        }

        &:last-child {
            flex: 1 1 auto;
        }
    }

}