.pass {
    background-color: lightgreen;
    padding: 5px 50px;
    margin-left: 10px;
    align-items: center;
    font-size: 26px;
    border-radius: 1.5rem !important;
  }
  .fail {
    background-color: red;
    padding: 5px 50px;
    margin-left: 10px;
    align-items: center;
    font-size: 26px;
    border-radius: 1.5rem !important;
  }