.wo-equipment {

    .equipment-col {
      margin-bottom: inherit !important;
    }
  
    margin: 11px 0 11px !important;
  
    .mat-mdc-card-title-group {
      display: block !important;
    }
  
    .mat-elevation-z8 {
      box-shadow: none;
    }
  
    h4 {
      text-transform: lowercase;
    }
  
    .custom-list {
      .mdc-list-item.mdc-list-item--with-three-lines {
        height: 110px;
      }
    }
  
    .mat-column-actions {
      flex: 0 0 30%;
    }
  
    .btn {
      margin-bottom: 5px !important;
    }
  
    mat-header-cell {
      font-family: "GothamBold", Arial, sans-serif;
      font-size: 14px;
      text-transform: lowercase;
    }
  
    mat-cell {
      font-family: "GothamNarrowBook", Arial, sans-serif;
      font-size: 14px;
    }
  
    ::ng-deep .mat-mdc-list-item-title {
      text-transform: lowercase;
    }
  
    .mat-mdc-form-field {
      padding-top: 2% !important;
    }
  
    .meridium-details-card {
      height: 100%;
    }
  
    .meridiumDetailsTable {
      max-height: 280px;
      overflow-y: auto;
    }
  
    .meridium-row:nth-child(even) {
      background-color: transparent;  
    }
  
    .meridium-row:nth-child(odd) {
      background-color: #f3f4f8;
    }
  }
  