.pass {
  color: white;
  background-color: lightgreen;
  padding: 5px 40px;
  align-items: center;
  font-size: 26px;
  border-radius: 1.5rem !important;
}

.fail {
  color: white;
  background-color: red;
  padding: 5px 40px;
  align-items: center;
  font-size: 26px;
  border-radius: 1.5rem !important;
}