.signature {
    .sig-container {
        border-style: dashed;
        border-width: 1px;
      }
      
      .sig-container canvas {
        border-style: solid;
        border-width: 1px;
      }
      
      .sig-container-image {
        height: 400px;
        width: 700px;
      }
      .close-button{
        float: right;
        top:-24px;
        right:-24px;
      }
      
      .close-icon {
        transition: 1s ease-in-out;
      }
      
      ::ng-deep .icon-outside .close-button{
        float: right;
        top:-52px;
        right:-52px;
      }
}