<div class="camera" *ngIf="showControl">
    <div class="row card-column-buttons" *ngIf="editable">
        <div class="col-12">
            <input type="file" class="file-input" accept="image/jpg, image/jpeg, image/png, image/gif, image/svg+xml, image/webp" (change)="browseImage($event)" #fileUpload
            (click)="resetFileInput($event)" />
            <a class="button btn btn-primary text-white" mat-button [matMenuTriggerFor]="photo">
                {{ 'photo.attach' | translate }}
            </a>
            <mat-menu #photo="matMenu">
                <button mat-menu-item (click)="openCamera()">{{ 'photo.take' | translate }}</button>
                <button mat-menu-item (click)="fileUpload.click()">{{ 'photo.browse' | translate }}</button>
            </mat-menu>
        </div>
    </div>
    <div *ngFor="let image of inspectionResponseImagesList">
        <div class="row" *ngIf="editable">
            <div class="col-6">
                <img [alt]="''" *ngIf="image.photo.indexOf('data:image/') == -1"
                    [src] ="image.thumbnail" (click)="openEditor('data:image/png;base64,' + image.photo, image)" loading="lazy" placeholder/>
                <img [alt]="''" *ngIf="image.photo.indexOf('data:image/') > -1" 
                    [src] = "image.thumbnail" (click)="editImage(image)" loading="lazy" placeholder/>
            </div>
            <span *ngIf="!image.thumbnail">{{ 'imageViewer.loading' | translate }}...</span>
            <button mat-icon-button class="close-button" (click)="removePhoto(image)">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
            <button mat-icon-button class="copy-button" (click)="copyImage(image)">
                <mat-icon class="copy-icon">file_copy</mat-icon>
            </button>
            <button mat-icon-button class="download-button" (click)="downloadImage(image)">
                <mat-icon>vertical_align_bottom</mat-icon>
            </button>
            <div class="col-4"></div>
        </div>
        <div class="row" *ngIf="editable">
            <div class="col-6">
                <mat-form-field appearance="outline" appearance="outline">
                    <mat-label>{{ 'photo.caption' | translate }}</mat-label>
                    <input matInput type="text" [id]="'input-' + response.questionId" [(ngModel)]="image.imageCaption"
                        cdkTextareaAutosize (change)="updateImageCaption(image)">
                </mat-form-field>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
</div>