.pass {
  background-color: lightgreen;
  padding: 5px 50px;
  margin-left: 10px;
  align-items: center;
  font-size: 26px;
  border-radius: 1.5rem !important;
}
.fail {
  background-color: red;
  padding: 5px 50px;
  margin-left: 10px;
  align-items: center;
  font-size: 26px;
  border-radius: 1.5rem !important;
} 

.percentError{
  color: #e06666;

  .text-input[disabled] {
      opacity: 1;
  }
}


.percentValid{
  color: #90ee90;

  .text-input[disabled] {
      opacity: 1;
  }

}

.errorLabel {
  border-radius: 4px;
  display: block;
  padding-top: 16px;
  padding-left: 5px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
